<!DOCTYPE html>
<html ng-app="delivery">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DeliveryApp</title>
	
	<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<main class="main">
		<nav class="nav" ng-controller="MainCtrl" ng-class="{'show-flex': isLoginPage !== true }">
	    	<a href="#" class="logo"><i class="fa fa-tty"></i></a>

	    	<ul>
				<li ng-repeat="n in nav">
					<a href="#/{{ n.link }}" class="nav__link" 
						ng-class="{'nav__link--active': navCurrent == '/' + n.link }">
						<i class="nav__icon fa fa-{{ n.icon }}"></i> {{ n.label }}
					</a>
				</li>	
			</ul>
			
			<div class="user-panel">
				<a href="#/profile" class="nav__link"><i class="nav__icon fa fa-cog"></i> Profile</a>
				<a href="" ng-click="logOut()" class="nav__link" ng-click="logOut()"><i class="nav__icon fa fa-sign-out"></i> Log out</a>
			</div>
		</nav>

	    <div class="view" ng-view></div>

	</main>


	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	

	<script src="js/config/config.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives/directives.js"></script>
	<script src="js/services/authinterceptor.js"></script>
	<script src="js/services/authtoken.js"></script>
	<script src="js/services/rest.js"></script>
	<script src="js/services/transfer.js"></script>
	<script src="js/services/user.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/home.js"></script>
	<script src="js/controllers/products.js"></script>
	<script src="js/controllers/orders.js"></script>
	<script src="js/controllers/delivery.js"></script>
	<script src="js/controllers/settings.js"></script>
	<script src="js/lib/angular-notify.js"></script>
	
	
</body>
</html>